[Desktop Entry]
Categories=Utility;TrayIcon;DesktopUtility
Comment[en_US]=Temporarily deactivate the screensaver and sleep mode
Comment=Temporarily deactivate the screensaver and sleep mode
Encoding=UTF-8
Exec=bash -c "sleep 3; caffeine"
GenericName[en_US]=
GenericName=
Icon=caffeine
Keywords=Screensaver,Power,DPMS,Blank,Idle
MimeType=
Name[en_US]=Caffeine-ng
Name=Caffeine-ng
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
