[Desktop Action Capture]
Exec=flameshot gui --delay 500
Name=Take screenshot

[Desktop Action Configure]
Exec=flameshot config
Name=Configure

[Desktop Action Launcher]
Exec=flameshot launcher
Name=Open launcher

[Desktop Entry]
Actions=Configure;Capture;Launcher;
Categories=Graphics;
Comment=Powerful yet simple to use screenshot software.
Exec=flameshot
GenericName=Screenshot tool
Icon=org.flameshot.Flameshot
Keywords=flameshot;screenshot;capture;shutter;
Name=Flameshot
StartupNotify=false
Terminal=false
Type=Application
X-DBUS-ServiceName=org.flameshot.Flameshot
X-DBUS-StartupType=Unique
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot
