[Desktop Action NewMessage]
Exec=mailspring mailto:
Name[en_US]=New Message
Name=New Message

[Desktop Entry]
Actions=NewMessage
Categories=GNOME;GTK;Network;Email;
Comment=The best email app for people and teams at work
Exec=bash -c "sleep 3; mailspring --background"
Icon=mailspring
Keywords=email;internet;
MimeType=x-scheme-handler/mailto;x-scheme-handler/mailspring;
Name=Mailspring
StartupNotify=true
StartupWMClass=Mailspring
Type=Application
