.idea
.directory
# ./.vscode/**
*result*
.direnv
*.qcow2
source
node_modules
outputs
build
result*
\#*\#
.venv
*~
drvPath
.env
__pycache__
history.txt
*sqlite3*
/*.patch

flake.json

.clj-kondo
.lsp
.calva
target
flake/generated.nix

eln-cache
elpa

transient
var
.cache
projectile-bookmarks.eld
recentf
*.tar
*.sif
*.elc
