[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "herbstluftwm/hlwm-utils"]
	path = herbstluftwm/hlwm-utils
	url = https://github.com/branwright1/hlwm-utils.git
[submodule "dotfiles_priv"]
	path = dotfiles_priv
	url = git@github.com:viperML/dotfiles_priv.git
[submodule "awesome/sharedtags"]
	path = awesome/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags
[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
