[submodule "modules/awesome/lain"]
	path = modules/awesome/lain
	url = https://github.com/lcpz/lain
[submodule "modules/awesome/bling"]
	path = modules/awesome/bling
	url = https://github.com/BlingCorp/bling
[submodule "modules/awesome/awesome-sharedtags"]
	path = modules/awesome/awesome-sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags
[submodule "modules/awesome/awesome-wm-widgets"]
	path = modules/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "modules/awesome/awesome-freedesktop"]
	path = modules/awesome/awesome-freedesktop
	url = https://github.com/lcpz/awesome-freedesktop
[submodule "modules/awesome/awesome-revelation"]
	path = modules/awesome/awesome-revelation
	url = https://github.com/guotsuan/awesome-revelation
