.idea
.directory
.vscode
result
.direnv
*.qcow2
source
node_modules
outputs
build
result*
\#*\#
.venv
*~
drvPath
.env

**/emacs/*
!**/emacs/custom.el
!**/emacs/init.el
!**/emacs/*.nix
flake.json

.clj-kondo
.lsp
.calva
