#!/bin/sh
#xrandr --setprovideroutputsource modesetting NVIDIA-0
#xrandr --auto
xrdb -merge $HOME/.Xresources
xmodmap $HOME/.Xmodmap

# QT5 themes to GNOME
export QT_QPA_PLATFORMTHEME=qt5ct
export GTK_USE_PORTAL=1
export QT_STYLE_OVERRIDE=kvantum

export XPROFILE_LOADED=1