/* 
██╗  ██╗███████╗ ██████╗███████╗    ██████╗  █████╗ ███╗   ██╗███████╗██╗     
╚██╗██╔╝██╔════╝██╔════╝██╔════╝    ██╔══██╗██╔══██╗████╗  ██║██╔════╝██║     
 ╚███╔╝ █████╗  ██║     █████╗      ██████╔╝███████║██╔██╗ ██║█████╗  ██║     
 ██╔██╗ ██╔══╝  ██║     ██╔══╝      ██╔═══╝ ██╔══██║██║╚██╗██║██╔══╝  ██║     
██╔╝ ██╗██║     ╚██████╗███████╗    ██║     ██║  ██║██║ ╚████║███████╗███████╗
╚═╝  ╚═╝╚═╝      ╚═════╝╚══════╝    ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚══════╝
*/
.xfce4-panel {
	font-size: 15px;
	font-family: 'Roboto';
	border-style: none;
	/* background-rgba: #00000000; */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

/* Applies to all buttons including whisker menu, applets, etc */
.xfce4-panel button {
	padding: 0px;
	margin: 0px 0px;
	transition: 0.2s;
	box-shadow: none;
	background-image: none;
	border-radius: 15px;
}

/* Only applies to i3-workspaces */
#i3-workspaces-26 button {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 1px;
	font-size: 15px;
	margin-top: 3px;
}
#i3-workspaces-26 button:hover {
	background-color: rgba(255, 255, 255, 0.07);
}

/* Only applies to tasklist, currently not used */
.xfce4-panel.background .tasklist button {
	/* Fix height */
	margin: -1px 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
}
.xfce4-panel.background .tasklist label {
	padding-bottom: 0px;
}
.xfce4-panel.background button:active,
.xfce4-panel.background button:hover,
.xfce4-panel.background button:active:hover,
.xfce4-panel.background .tasklist button:active,
.xfce4-panel.background .tasklist button:hover,
.xfce4-panel.background .tasklist button:active:hover {
	background-color: rgba(255, 255, 255, 0.07);
}
.xfce4-panel button:checked,
.tasklist {
	-XfceTasklist-max-button-length: 200;
}

/*
████████╗██╗  ██╗██╗   ██╗███╗   ██╗ █████╗ ██████╗ 
╚══██╔══╝██║  ██║██║   ██║████╗  ██║██╔══██╗██╔══██╗
   ██║   ███████║██║   ██║██╔██╗ ██║███████║██████╔╝
   ██║   ██╔══██║██║   ██║██║╚██╗██║██╔══██║██╔══██╗
   ██║   ██║  ██║╚██████╔╝██║ ╚████║██║  ██║██║  ██║
   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝
*/

/* * {
	-ThunarAbstractIconView-row-spacing: 10;
	-ThunarAbstractIconView-column-spacing: 20;
}
.thunar .standard-view .view {
}
.thunar .sidebar .view {
	padding: 3px 2px;
}
.thunar .sidebar .view:hover {
}
.thunar,
.thunar .sidebar,
.thunar .sidebar .view {
	background-color: rgba(35, 35, 35, 0.6);
	background-image: none;
}
.thunar .standard-view {
	background-color: #242321;
}

#XfceNotifyWindow progressbar {
	border-radius: 5px;
}
#XfceNotifyWindow progressbar progress {
	min-height: 4px;
}
#XfceNotifyWindow progressbar trough {
	min-height: 4px;
} */
