/* 
██╗  ██╗███████╗ ██████╗███████╗    ██████╗  █████╗ ███╗   ██╗███████╗██╗     
╚██╗██╔╝██╔════╝██╔════╝██╔════╝    ██╔══██╗██╔══██╗████╗  ██║██╔════╝██║     
 ╚███╔╝ █████╗  ██║     █████╗      ██████╔╝███████║██╔██╗ ██║█████╗  ██║     
 ██╔██╗ ██╔══╝  ██║     ██╔══╝      ██╔═══╝ ██╔══██║██║╚██╗██║██╔══╝  ██║     
██╔╝ ██╗██║     ╚██████╗███████╗    ██║     ██║  ██║██║ ╚████║███████╗███████╗
╚═╝  ╚═╝╚═╝      ╚═════╝╚══════╝    ╚═╝     ╚═╝  ╚═╝╚═╝  ╚═══╝╚══════╝╚══════╝
*/
.xfce4-panel {
	font-size: 14px;
	border-color: transparent;
	/* background-rgba: #00000000; */
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.xfce4-panel button {
	padding: 0px;
	transition: 0.2s;
	box-shadow: none;
	background-image: none;
	margin: 0px 0px;
	border-radius: 8px;
}
.xfce4-panel.background .tasklist button {
	padding: 0px 5px;
	/* Fix height */
	margin: -1px 0px;
}

.xfce4-panel.background button:active,
.xfce4-panel.background button:hover,
.xfce4-panel.background button:active:hover,
.xfce4-panel.background .tasklist button:active,
.xfce4-panel.background .tasklist button:hover,
.xfce4-panel.background .tasklist button:active:hover {
	background-color: rgba(255, 255, 255, 0.07);
}
.xfce4-panel button:checked {
	background-color: rgba(255, 255, 255, 0.1);
}

.tasklist {
	-XfceTasklist-max-button-length: 200;
}

/* 
████████╗███████╗██████╗ ███╗   ███╗██╗███╗   ██╗ █████╗ ██╗     
╚══██╔══╝██╔════╝██╔══██╗████╗ ████║██║████╗  ██║██╔══██╗██║     
   ██║   █████╗  ██████╔╝██╔████╔██║██║██╔██╗ ██║███████║██║     
   ██║   ██╔══╝  ██╔══██╗██║╚██╔╝██║██║██║╚██╗██║██╔══██║██║     
   ██║   ███████╗██║  ██║██║ ╚═╝ ██║██║██║ ╚████║██║  ██║███████╗
   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝
*/
VteTerminal,
vte-terminal {
	padding: 20px;
}

/*
████████╗██╗  ██╗██╗   ██╗███╗   ██╗ █████╗ ██████╗ 
╚══██╔══╝██║  ██║██║   ██║████╗  ██║██╔══██╗██╔══██╗
   ██║   ███████║██║   ██║██╔██╗ ██║███████║██████╔╝
   ██║   ██╔══██║██║   ██║██║╚██╗██║██╔══██║██╔══██╗
   ██║   ██║  ██║╚██████╔╝██║ ╚████║██║  ██║██║  ██║
   ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝  ╚═╝╚═╝  ╚═╝
*/

* {
	-ThunarAbstractIconView-row-spacing: 10;
	-ThunarAbstractIconView-column-spacing: 20;
}
.thunar .standard-view .view {
}
.thunar .sidebar .view {
	padding: 3px 2px;
}
.thunar .sidebar .view:hover {
}
.thunar,
.thunar .sidebar,
.thunar .sidebar .view {
	background-color: rgba(35, 35, 35, 0.6);
	background-image: none;
}
.thunar .standard-view {
	background-color: #242321;
}

#XfceNotifyWindow progressbar {
	border-radius: 5px;
}
#XfceNotifyWindow progressbar progress {
	min-height: 4px;
}
#XfceNotifyWindow progressbar trough {
	min-height: 4px;
}

menu,
.context-menu {
}
menu menuitem,
.menu menuitem,
.context-menu menuitem {
	padding: 6px 26px;
}
menu menuitem:hover,
.menu menuitem:hover,
.context-menu menuitem:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.csd.popup decoration {
}

button {
	animation: none;
}
button,
entry {
	border: none;
	margin: 1px;
}
