use nix -A shell

nix build -f ./default.nix agsTypes -o ./types

typescript="$(nix build -f ./default.nix pkgs.nodePackages.typescript^out --print-out-paths --no-link)"

mkdir -p .vscode
tee .vscode/settings.json <<EOF
{
  "typescript.tsdk": "$typescript/lib/node_modules/typescript/lib"
}
EOF
