
layout {
    pane size=1 borderless=true {
        plugin location="zjstatus" {
            format_left  "#[fg=white] {session} {mode} {tabs}"
            format_right "#[bg=#8A8A8A,fg=#000000,bold]{swap_layout}"

            mode_locked "#[fg=magenta,bold] {name} "
            mode_normal "#[fg=green,bold] {name} "
            mode_resize "#[fg=yellow,bold] {name} "
            // mode_default_to_mode "resize"

            tab_normal "#[fg=white,bold] {name} {sync_indicator}{fullscreen_indicator}{floating_indicator}"
            tab_active "#[bg=green,fg=black,bold] {name} {sync_indicator}{fullscreen_indicator}{floating_indicator}"

            tab_sync_indicator       " "
            tab_fullscreen_indicator "□ "
            tab_floating_indicator   "󰉈 "
        }
    }

    pane split_direction="vertical" {
        pane
    }
}
