/*Tab centering*/
.tab-strip {
    display: flex;
     justify-content: center;
   }
   
   .tab-position {
     position: relative;
     left: 0 !important;
   }
   
   #tabs-container .newtab {
       position: relative !important;
       left: auto !important;
       top: auto !important;
   }

