/* Monospace addressfield and searchfield */
input.url.vivaldi-addressfield,
input.searchfield-input.vivaldi-searchfield {
  /* font-family: monospace !important; */
  text-align: center !important;
}